.card-header-image {
  background-size: cover;
}

.no-subtitle {
  margin-top: 8px;
  margin-bottom: 25px !important;
}

img {
  margin-bottom: -20px !important;
  border-radius: 0 0 4px 4px;
}

h2 {
  font-weight: 500;
}
